@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: rgb(227 227 227);
}

h1 {
  font-size: 50px;
}
section {
  margin-bottom: 10px;
}
.nav_section{
    background: #c5c5c5;
}
.top_section{
    background-image: url("images/portfolio/top-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.container {
  width: 1170px;
  overflow: hidden;
  margin: auto;
}
.main_navSection {
  width: 100%;

  padding: 0px 0px;
  /* border-bottom: 1px solid #ddd; */
}
.main_navSection .logo {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  float: left;
  width: 30%;
  margin-left: 100px;
  padding: 10px 0;
  margin-right: 200px;
  user-select: none;
  cursor: pointer;
  transition: 0.8s;
}
.main_navSection .logo:hover {
  color: orange;
}
.main_navSection .logo:hover span {
  color: #fff;
  transition: 0.8s;
}
.main_navSection .logo span {
  color: orange;
}
.main_navSection .list ul {
  list-style: none;
}
.main_navSection .list ul li {
  display: inline-block;
  padding: 25px 15px;
}

.main_navSection .list ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  transition: 0.5s;
}
.main_navSection .list ul li:hover a {
  color: #ff5200;
}
.heiglight-name {
  color: orange;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img {
  width: 80%;
  margin-top: 20px;
  margin-left: 150px;
}
.half-width p {
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}
.hire_btn {
  text-decoration: none;
  padding: 10px 20px;
  background-image: linear-gradient(45deg, lightSalmon, tomato);
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  transition: 0.4s;
}
.hire_btn:hover{
  background-image: linear-gradient(45deg, tomato,lightSalmon );
}